<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>


  <p>
    Splurty was built by <a target="_blank" href="https://github.com/Brose2018/MAC12">Ambrose</a>
  </p>
  <br />
  <p>
    Slowly-slowly, step-by-step, I will learn to accept that coding is not so hopelessly impossible to understand.
  </p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'chiu.jpg', class: 'img-fluid' %>
</div>

<div class="col-12 col-sm-7 offset-sm-1">
  <h2 class="text-center">Ambrose Chiu</h2>
  <br />
  <p>
    Ambrose Chiu is learning the ways of the code while stumbling through the day as a lawyer and humanitarian operator.
  </p>
</div>
</div>
<br class="clear" />


</div>

<br class="clear" />
<br />
<br />
<br />
<br />